<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>编辑器demo6</title>
</head>
<body>
<input type="text" id="getTittle"/>
<div id="editor">
</div>
<button id="saveNews">保存</button>

<script type="text/javascript" src="/javascripts/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.uploadImgShowBase64 = true;
    editor.customConfig.pasteFilterStyle = false;
    editor.customConfig.pasteIgnoreImg=true;
    editor.create()
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    document.getElementById('saveNews').addEventListener('click', function () {
        var tittle = document.getElementById('getTittle').value;
        var content = editor.txt.html();
        content = content.replace(/[\r\n]/g, ""); //去掉回车换行
        var txt = editor.txt.text();
        console.log(content);
        var ajaxPost = $.ajax({
            url: '/news/create_news',
            timeout: 60 * 1000,
            type: 'post',
            data: {tittle: tittle, content: content, txt: txt},
            dataType: 'json',
            success: function (res) {
                if (res.ret_code === 0) {
                    alert(res.ret_msg);
                    window.history.back();
                } else {
                    alert(res.ret_msg)
                }
            },
            complete: function (req, status) {
                if (status === 'timeout') {
                    ajaxPost.abort();
                    alert('文件上传超时');
                }
            }
        });
    })
</script>
</body>
</html>