<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻列表</title>
</head>
<body>
<table id="newsList">
    <thead>
    <tr>
        <th width="200">标题</th>
        <th width="200">日期</th>
        <th>查看</th>
    </tr>
    </thead>

</table>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $.ajax({
        url:'/news/get_newslist',
        timeout:20*1000,
        type:'get',
        success:function (res) {
            var data=res.data;
            var count=res.count;
            var list=document.getElementById('newsList');
            for(var i=0;i<count;i++){
                var newdata=document.createElement('tr');
                var titte=document.createElement('td');
                var date=document.createElement('td');
                var a=document.createElement('a');
                var a1=document.createElement('a');
                var a2=document.createElement('a');
                var space=document.createElement('a');
                list.appendChild(newdata);
                newdata.appendChild(titte);
                newdata.appendChild(date);
                newdata.appendChild(a);
                a.appendChild(a1);
                a.appendChild(space);
                a.appendChild(a2);
                newdata.setAttribute('id',data[i]._id);
                titte.innerHTML=data[i].tittle;
                var temp=new Date(data[i].create_date.toString());
                temp=temp.getFullYear()+'/'+(temp.getMonth()+1)+'/'+temp.getDate();
                date.innerHTML=temp.toString();
                date.setAttribute('align','center');
                a.setAttribute('align','right');
                a1.innerText='查看';
                a1.setAttribute('href','/news/view_news?search_keywords='+newdata.getAttribute('id'));
                a2.innerText='修改';
                a2.setAttribute('href','/news/ask_modify?search_keywords='+newdata.getAttribute('id'));
                space.innerText='  ';
            }
        }
    });
</script>
</body>
</html>